config.yaml
.snakemake
logs

*.pyc
__pycache__
.pylintrc
.vscode
.pytest_cache
*.DS_Store
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
build
*egg-info*
.github

*.c
*.so

*.pickle
*.placeholder
*.tsv
*.yaml

logs/*
results/*
plots/*

# Specific files
notebooks/debug*.ipynb
OLD_Snakefile